/* 

INFORMATION

To make it easy to update your theme, you should place your css styles in this file. You can
copy a style from style.css and paste it in here and it will override the style from
style.css file.

*/


/*
     FILE ARCHIVED ON 14:47:12 Jul 04, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:54:44 Sep 23, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.705
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.017
  esindex: 0.011
  cdx.remote: 11.32
  LoadShardBlock: 201.353 (3)
  PetaboxLoader3.datanode: 58.361 (4)
  PetaboxLoader3.resolve: 230.126 (2)
  load_resource: 167.59
*/