

/*
     FILE ARCHIVED ON 02:37:30 Nov 29, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:59:36 Sep 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.754
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.02
  esindex: 0.012
  cdx.remote: 7.378
  LoadShardBlock: 942.589 (3)
  PetaboxLoader3.datanode: 73.185 (5)
  PetaboxLoader3.resolve: 2276.626 (3)
  load_resource: 1465.064 (2)
*/